<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Customer</title>
  </head>
  <body>
    <h1>Add Customer</h1>
    <form id="addCustomerForm" action="/customers/save" method="post">
      <label for="username">Username:</label><br />
      <input type="text" id="username" name="username" required /><br />
      <label for="idType">ID Type:</label><br />
      <input type="text" id="idType" name="idType" required /><br />
      <label for="number">Number:</label><br />
      <input type="text" id="number" name="number" required /><br />
      <label for="name">Name:</label><br />
      <input type="text" id="name" name="name" required /><br />
      <label for="gender">Gender:</label><br />
      <input type="text" id="gender" name="gender" required /><br />
      <label for="country">Country:</label><br />
      <input type="text" id="country" name="country" required /><br />
      <label for="address">Address:</label><br />
      <input type="text" id="address" name="address" required /><br />
      <label for="phone">Phone:</label><br />
      <input type="text" id="phone" name="phone" required /><br />
      <label for="email">Email:</label><br />
      <input type="email" id="email" name="email" required /><br /><br />
      <button type="submit">Submit</button>
    </form>
    <script>
      document
        .getElementById("addCustomerForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          fetch("/customers/save", {
            method: "POST",
            body: new FormData(this),
          }).then((response) => {
            if (response.ok) {
              alert("Customer added successfully!");
              location.reload();
            } else {
              alert("Customer Added Successfully.");
            }
          });
        });
    </script>
  </body>
</html>
